.favourites_data{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    min-height: 500px;
.favourite_card{
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 10px 10px 20px 10px;

.favourite_img{
    width: 300px;
    height: 300px;
    margin: 10px 20px 20px 20px;
        border-radius: 20px;
        width: 250px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
        background: #dbdbdb;
        
}

.remove_text{
    margin: 0 3px 0 5px;
    color: #959595;
    font-size: 20px;
}
}
}
