.movie_header{
  height: 570px;
  padding: 50px 40px;
  .header_column{
    display: flex;
    margin: 50px 0;
    .movie_header_detail{
        height: 510px;
        padding-left: 40px;
        .data_name{
            color: #fff;
    width: 100%;
    margin-bottom: 0px;
    height: 45px;
    font-size: 32px;
    
        }
        .genres{
            color: #fff;
        }
        .percentage{
          color: #fff;
          display: flex;
          flex-direction: row;
          height: 100px;
          width: 430px;
  .rating{
      
    padding:22px;
    padding-left: 19px;
    width: 20px;
    margin: 0;
    height: 20px;
    margin-top: 14px;
    margin-right: 8px;
    font-family: 'Consensus' !important;
    border: 5px solid lightseagreen;
    background-color: #000;
    position: relative;
    border-radius: 50px;
    display: flex;
  }
  .text{
    width: 45px;
    height: 30px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
  }
  .tooltip{
    display: flex;
    margin: auto;
    width: 300px;
    justify-content: space-around;
  }
        }
        .overview{
          color:#fff;
          margin-top: 30px;
          .overview_heading{
          font-weight: 600;
          font-size: 1.3em;
          }
          .overview_para{
            font-size: 16px;
          }
        }
    .created{
      color: #fff;
      margin-top: 60px;
      .creator_name{
      margin: 8px 0;
      }
    }
    }

    .card{
        
        .data_image{
        height: 450px;
        width: 300px;
        border-radius: 20px;
        background: linear-gradient(to right, rgba(157.5, 157.5, 157.5, 1) calc((50vw - 170px) - 340px), rgba(157.5, 157.5, 157.5, 0.84) 30%, rgba(157.5, 157.5, 157.5, 0.84) 100%)
        }

        .card_wrapper{
         
        }
    }
  }
}