.Banner_wrapper{
    background-image: linear-gradient(to right, rgba(3,37,65, 0.8) 0%, rgba(3,37,65, 0) 100%), url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg");
    height: 300px;
    width: 100%;
    position: relative;

    @media screen and (max-width: 767px) {
        height: 300px;
    }
    .title_form{
        width: 90%;
        position: absolute;
    left: 5%;
    top: 25%;

    @media screen and (max-width: 767px) {
        width: 350px;
        top: 15%;
    left: 3%;
    }
     h2{
        font-size: 3em;
        color: white;
        font-weight: 700;

        @media screen and (max-width: 767px) {
            font-size: 3em;
            width: 335px;
    height: 48px;
        }
     }
     h3{
        font-size: 2em;
        color: white;
        font-weight: 400;

        @media screen and (max-width: 767px) {
            font-weight: 600;
        }
     }

    }
    .Banner_form{
        display: flex;
        width: 90%;
        height: 76px;

        @media screen and (max-width: 767px) {
            width: 340px;
    margin-top: 10px;
        }

        .Banner_form_input{
            border-radius: 50px;
            width: 90%;
            height: 45px;

            @media screen and (max-width: 767px) {
                width: 335px;
                height: 35px;
            }
            
        }
        .search-list{
            margin-top: 3%;
            border-radius: 20px;
            width: 90%;
            background-color: #fff;
            color: black;

            @media screen and (max-width: 767px) {
                width: 300px;
                z-index: 2;
                position: relative;
            }

            .select-elem{
               padding: 5px;
            }

            ul{ 

                li:hover{
                    background-color: #E0E0E0;
                }
            }

        }
        .Form_submit{
    color: #fff;
    font-size: 16px;
    font-weight: 800;
            position: absolute;
            border: unset;
            right: 18%;
            width: 100px;
            height: 50px;
            border-radius: 26px;
            background: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
        
        
            @media screen and (max-width: 767px) {
                width: 70px;
    height: 40px;
    right: 4px;
    font-weight: 400;
            }
        
        }
    }

}
