.product_header{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    .popular_header{
        font-size: 2em;
        margin-right: 20px;
    }
    .selector_wrap{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    text-decoration: none;
    margin-left: 0;
}
.anchor{
    margin-left: 3px;
}
}

.sample{
    color: white;
    width: 80px;
    background: black;
    height: 20px;
    margin-left: 0px !important;
    border-radius: 33px;
    padding: 9px 7px 9px 7px;
}

.selector_wrap > a {
    //margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    text-decoration: none;
}

a:active {
    color: blue;
}