.Footer{
    min-height: 500px;
    background-color: rgba(3,37,65, 1.0);
    display: flex;
    justify-content: center;
    .footer_items{
        width: 1200px;
    justify-content: space-between;
        display: flex;
    flex-wrap: wrap;
    margin: 50px;
        font-weight: bold;
    font-size: 1.4em;
    line-height: 1.4em;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    } 
    .items{
        width: 200px;
        display: flex;
    flex-direction: column;
    margin: 20px;

    h3{
        margin-bottom: 5px;
    }
    .item_list{
        line-height: 40px;
    }
    } 
    
}

.items h4 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}