.header{
    display: flex;
    height: 60px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    background-color: #032541;
    .nav_items{
        display: flex;
        justify-content: space-evenly;
    width: 50%;
        margin-right: 16px;
        margin-left: 20px;
        color: white;

        .selection{
            display: block;
            width: 200px;
            background-color: #032541;
            border: none;
            color: white;
            appearance: none;
            outline: none;
            font-size: 26px;
    font-weight: 600;
        }
    }
    .login{
        margin-right: 20px;
    height: 50px;
    width: 60px;
    }
    
    .favourite{
        color: white;
        display: flex;
    text-decoration: none;
    }
    .fcount{
    color: white;
    margin: 0;
    margin-left: -8px;
    margin-top: -10px;
    background-color: red;
    width: 15px;
    border-radius: 20px;
    text-align: center;
    height: 20px;
    text-decoration: none;
        }
}

.nav_items > h2{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2px;
}

.login button {
    height: 50px;
    border-radius: 20px;
    width: 60px;
}

select option {
    background-color: white;
    color: black;
    font-size: 20px;
    width: 200px;

}
